{% extends 'layout.html' %}

{% block body %}
  <h3>
    What do we do?
  </h3>

  <h3>
    What is feature-based visual SLAM?
  </h3>
  


    <!-- <div> <h1 class="display-4">3D Point Cloud Mapping Tool</h1>                                                                                                        
      <p class="lead">Upload a video to create a 3D point cloud map using Visual SLAM (Simultaneous Localization And Mapping) </p>

      <div style="text-align:center; width:100%; padding-bottom:90px;">

        <iframe style="padding: 20px" width="100%" height="80%" src="https://www.youtube.com/embed/vOnf5x7MeRI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <div class="row">
          <div class="col-md-5">
            <img width="100%" height="auto" src="{{url_for('static', filename='mac.gif' )}}">
              <figcaption>Take a sequence of overlapping images of an object </figcaption>
          </div>

          <div class="col-md-1">
            <svg width="50%" height="auto" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>              
            <figcaption>Upload</figcaption>
          </div>
          
          <div class="col-md-6">
            <iframe frameborder="0" width="100%" height="100%" src="http://3d.tyfeng.com:8000/uploads/3788145"></iframe>
            <figcaption>Result visualized </figcaption>
          </div>
        </div>

      </div> -->



    <!-- <p>Accepted file extensions are: <b>jpg, jpeg, png, bmp, tif/tiff</b></p>                                                                                        
    <p><b>Note</b>: It might take a while to run 3D reconstruction on your images, so please be patient and only click upload once :)</p>


    <form method="post" action="/" enctype="multipart/form-data">                                                                                                    
      <dl>                                                                                                                                                             
        <p>                                                                                                                                                              
          <input type="file" name="files[]" multiple="true" autocomplete="off" required>                                                                                   
        </p>                                                                                                                                                             
      </dl>   

      <p>                                                                                                                                                              
        <input type="submit" value="Submit">                                                                                                                             
      </p>                                                                                                                                                             
    </form>                                                                                                                                                           --> 
{% endblock %}                                                                                                                                                       
