{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href={{ url_for('static', filename='bootstrap.min.css') }}>
    <script type="text/javascript" src="{{ url_for('static', filename='dat.gui.min.js') }}"></script>
{% endblock %}
                        
{% block body %}
    <div class="row h-100 justify-content-center align-items-center">
        <h1>Processing...</h1>
    </div>
    <div class="row h-100 justify-content-center align-items-center">
        <h3>
            Your results are still processing. Check back in a few minutes!
        </h3>
    </div>
{% endblock %}
